﻿@model QueroCafe.Models.Entity.Cafe

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Café";
    ViewBag.BackgroudImage = "/img/backgroud-cafe.jpg";
    ViewBag.ViewID = "CAFE";
}

@section head {
    <link rel="stylesheet" href="~/css/cafe-icon.css" type="text/css" />
}

<div class="painel">
    @if (Model == null || Model.Status == QueroCafe.Models.Entity.CafeStatus.Esgotado)
    {
        <h2>Não há mais café disponivel</h2>
    }
    else if (Model.Status == QueroCafe.Models.Entity.CafeStatus.Comprado)
    {
        <h2>Disponivel</h2>
        <a class="btn" href="@Url.Action("Preparar", "Cafe", new { CafeID = Model.ID })">
            Preparar Café
        </a>
    }
    else if (Model.Status == QueroCafe.Models.Entity.CafeStatus.Preparando)
    {
        <h2>Preparando...</h2>

        <div class="cafe-icon">
            <div class="cafe-icon-asa"></div>
            <div class="cafe-icon-nivel"></div>
        </div>

        <script>
            setTimeout(function () {
                window.location.href = '@Url.Action("Pronto", "Cafe", new { CafeID = Model.ID })';
            }, 7000);

            setInterval(function () {
                var cafeIcon = document.getElementsByClassName('cafe-icon-nivel').item(0);
                var altura = parseInt((cafeIcon.style.height || '0%').match(/\d/g).join(''));

                altura = altura + 20 < 100 ? altura + 20 : 10;

                console.log(altura + '%');
                cafeIcon.style.height = altura + '%';
            }, 750);
        </script>
    }
    else if (Model.Status == QueroCafe.Models.Entity.CafeStatus.Pronto)
    {
        <h2>Disponiveis @Model.QtdXicaras xícaras de café para consumo</h2>

        <div class="cafe-icon">
            <div class="cafe-icon-asa"></div>
            <div class="cafe-icon-nivel" style="height: @($"{(Model.QtdXicaras * 100) / 5}%")"></div>
        </div>

        <a class="btn btn-full" href="@Url.Action("Retirar", "Cafe", new { CafeID = Model.ID })">
            Pegar 1 xícara de café
        </a>
    }
</div>