﻿@model QueroCafe.Models.Entity.Usuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Usuário";
    ViewBag.ViewID = "USUARIOS";
    ViewBag.BackgroudImage = "/img/backgroud-usuario.jpg";
}

@section head {
    <script src="~/js/validacao.js" type="text/javascript"></script>
}

@if (ViewBag.Sucesso == true && Model.Id != 0)
{
    <div class="alerta sucesso">Usuário alterado com sucesso.</div>
}
else if (ViewBag.Sucesso == true && Model.Id == 0)
{
    <div class="alerta sucesso">Usuário criado com sucesso.</div>
}
else if (ViewBag.Sucesso == false && Model.Id != 0)
{
    <div class="alerta erro">Erro ao alterar usuario.</div>
}
else if (ViewBag.Sucesso == false && Model.Id == 0)
{
    <div class="alerta erro">Erro ao criar usuario.</div>
}

<form method="post" action="@Url.Action("CriarUsuario","Usuario", new { id = Model.Id})" onsubmit="return validacao(this)" class="painel">
    @if (Model.Id != 0)
    {
        <h2>Alterar Usuário</h2>
    }
    else
    {
        <h2>Cadastro Novo Usuário</h2>
    }
    <div class="content">
        <label for="nome" class="label">Nome: </label>
        <input type="text" name="txtnome" class="form-control" size="40" value="@Model.Nome" />
    </div>
    <div class="content">
        <label for="email" class="label">E-mail: </label>
        @if (Model.Id != 0)
        {
            <input type="text" name="txtemail" class="form-control" size="40" value="@Model.Email" readonly />
        }
        else
        {
            <input type="text" name="txtemail" class="form-control" size="40" value="@Model.Email" />
        }
    </div>
    <div class="content">
        <label for="celular" class="label">Celular: </label>
        <input type="text" onkeypress='return AceitaApenasNumero(event)' name="txtcelular" class="form-control" size="40" value="@Model.Dd@Model.Celular" />
    </div>
    <div class="content">
        <label for="cbxSituacao" class="label">Situação: </label>
        <select id="codigoSituacao" name="codigoSituacao" class="form-control">
            @if (Model.Id == 0)
            {
                <option value="2" selected></option>
                <option value="1">Ativar</option>
                <option value="0">Inativar</option>
            }
            else if (Model.Id != 0 && Model.Ativo == true)
            {
                <option value="2"></option>
                <option value="1" selected>Ativar</option>
                <option value="0">Inativar</option>
            }
            else if (Model.Id != 0 && Model.Ativo == false)
            {
                <option value="2"></option>
                <option value="1">Ativar</option>
                <option value="0" selected>Inativar</option>
            }
        </select>
    </div>
    <div class="content">
        @if (Model.Id != 0)
        {
            <button class="btn btn-full" size="20">Alterar</button>
        }
        else
        {
            <button class="btn btn-full" size="20">Criar</button>
        }
    </div>
</form>

