﻿@model List<QueroCafe.Models.Entity.Usuario>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Usuário";
    ViewBag.ViewID = "USUARIOS";
    ViewBag.BackgroudImage = "/img/backgroud-usuario.jpg";
}

<div class="painel" style="width: 50%">
    <h2 style="display: inline-block">Lista de Usuários</h2>
    <a href="@Url.Action("Criar", "Usuario")" class="btn btn-direita">Adicionar</a>
    @if (Model.Count > 0)
    {
    <table>
        <thead>
            <tr>
                <th width="60%">Nome Usuario</th>
                <th width="20%" class="texto-central">Email</th>
                <th width="20%" class="texto-central">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
        {
            <tr>
                <td width="60%">
                    <div class="identidade">
                        <img src="~/img/usuario.png" />
                        <span>@usuario.Nome</span>
                    </div>
                </td>
                <td width="20%" class="texto-central">
                    @usuario.Email
                </td>
                <td width="20%" class="texto-central">
                    <a href="@Url.Action("Editar", "Usuario", new{ id = usuario.Id})" class="btn btn-direita">Alterar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    }
    else
    {
    <h3 class="texto-central">Sem usuários cadastrados</h3>
    }

</div>