﻿@model QueroCafe.Models.Entity.Checkin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Check-in";
    ViewBag.BackgroudImage = "/img/backgroud-checkin.jpg";
    ViewBag.ViewID = "CHECKIN";
}

@if (ViewBag.Sucesso == true)
{
    <div class="alerta sucesso">Marcação registrada com sucesso</div>
}

<div class="painel">
    <h2>Olá Mariana,</h2>
    @if (Model.ID == 0 && Model.Agenda != null)
    {
        @if (Model.Agenda.Acao == QueroCafe.Models.Entity.TipoAcao.Comprar)
        {
            <h3>Vimos que você tem agendado para hoje <strong>a compra de café</strong>, deseja fazer o check-in da atividade?</h3>
            <div class="content">
                <a class="btn btn-full" href="@Url.Action("Marcar", "Checkin")">
                    Marcar o check-in da compra de café
                </a>
            </div>
        }

    }
    else if (ViewBag.Cafe != null)
    {
        <h3>Verificamos que existe pó de café disponivel para o preparo, deseja preparar o café?</h3>
        <div class="content">
            <a class="btn btn-full" href="@Url.Action("Index", "Cafe")">
                Preparar o café
            </a>
        </div>
    }
    else
    {
        <h3>Você não possui nada programado para hoje.</h3>
    }
</div>