﻿@model QueroCafe.Models.Login
<html>
<head>
    <link rel="stylesheet" href="~/css/componentes_css.css" type="text/css" />
    <link rel="stylesheet" href="~/css/identidade.css" type="text/css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/alerta.css" type="text/css" />
    <script src="~/js/validacao.js" type="text/javascript"></script>
    <title>Quero Café - Cadastra Senha</title>
</head>
<body background="/img/backgroud-login.jpg" bgproperties="fixed">

    <form method="post" class="painel" onsubmit="return validacaCadastrarSenha(this)">
        <div class="content">
            <div class="content">
                <label for="usuario" class="label">Cadastrar Nova Senha: </label>
                <input type="password" name="txtsenhaNova" class="form-control" size="40" />
            </div>
            <div class="content">
                <label for="senha" class="label">Confirmar Nova Senha: </label>
                <input type="password" name="txtsenhaConfirmacao" class="form-control" size="40" />
            </div>
            <div class="content">
                <button class="btn btn-full" size="20">Cadastrar Senha</button>
            </div>
        </div>
    </form>

</body>
</html>