﻿@model QueroCafe.Models.Login
<html>
<head>
    <link rel="stylesheet" href="~/css/componentes.css" type="text/css" />
    <link rel="stylesheet" href="~/css/identidade.css" type="text/css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/alerta.css" type="text/css" />
    <script src="~/js/validacaologin.js" type="text/javascript"></script>
    <title>Quero Café - Login</title>
</head>
<body background="/img/backgroud-login.jpg" bgproperties="fixed">

    @if (ViewBag.Sucesso == false && Model.Id == 0 && Model.Bloqueado == false)
    {
        <div class="alerta erro">E-mail do usuário ou senha inválido!</div>
    }
    else if (ViewBag.Sucesso == false && Model.Id == 0 && Model.Bloqueado == true)
    {
        <div class="alerta erro">Você excedeu o limite de tentativas. Seu Usuário foi bloqueado, acesse: "Esqueceu a Senha?" para cadastrar uma nova senha e desbloquear seu usuário!</div>
    }
    else if (ViewBag.Sucesso == false && Model.Id == 1 && Model.Ativo == false)
    {
        <div class="alerta erro">Usuário não ativo, contate o administrador!</div>
    }
    else if (ViewBag.Sucesso == false && Model.Id == 1 && Model.Bloqueado == true)
    {
        <div class="alerta erro">Usuário bloqueado, acesse: "Esqueceu a Senha?" para cadastrar uma nova senha e desbloquear seu usuário!</div>
    }

    <form method="post" action="@Url.Action("Entrar","Login")" class="painel" onsubmit="return validacao(this)">
        <div class="content">
            <label for="usuario" class="label">E-mail Usuário </label>
            <input type="text" name="txtemail" class="form-control" size="40" />
        </div>
        <div class="content">
            <label for="senha" class="label">Senha </label>
            <input type="password" name="txtsenha" class="form-control" size="40" />
            <a href="https://www.google.com.br/">Esqueceu a Senha?</a>
        </div>
        <div class="content">
            <button class="btn btn-full" size="20">Login</button>
        </div>
    </form>

</body>
</html>