﻿@model QueroCafe.Models.Entity.Agenda

@using QueroCafe.Models.Entity;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Agenda";
    ViewBag.BackgroudImage = "/img/backgroud-agenda.png";
    ViewBag.ViewID = "AGENDA";

    var edicao = Model.ID > 0;
}

@if (ViewBag.Sucesso == true)
{
    <div class="alerta sucesso">Inclusão feita com sucesso</div>
}
else
{
    if (ViewBag.Acao == "CRIAR")
    {
        <div class="alerta aviso">
            @ViewBag.Mensagem
        </div>
    }
}

<form method="post" action="@(Url.Action(edicao ? "Editar" : "Criar", "Agenda"))" class="painel">
    <h2>Novo Agendamento</h2>

    <div class="content">
        <label for="cbxUsuario" class="label">Tipo de Ação:</label>
        <select name="cbxAcao" @(edicao ? "disabled" : "")>
            @foreach (var acao in Enum.GetValues<TipoAcao>())
            {
                <option value="@((int)acao)" @(Model.Acao == acao ? "selected" : "")>@acao.ToString()</option>
            }
        </select>
    </div>

    <div class="content">
        <label for="cbxUsuario" class="label">Usuário:</label>
        <select name="cbxUsuario" @(edicao ? "disabled" : "")>
            @foreach (Usuario usuario in ViewBag.Usuarios)
            {
                <option value="@usuario.Id" @(Model.Usuario.Id == usuario.Id ? "selected" : "")>@usuario.Nome</option>
            }
        </select>
    </div>

    <div class="content">
        <label for="dtDataAgendada" class="label">Data do Agendamento:</label>
        <input type="date" name="dtDataAgendada" value="@((Model.DataAgendamento == DateTime.MinValue ? DateTime.Now.AddDays(1) : Model.DataAgendamento).ToString("yyyy-MM-dd"))" 
               min="@DateTime.Now.ToString("yyyy-MM-dd")"/>
    </div>

    <div class="content">
        <button class="btn btn-full">@(edicao ? "Editar" : "Criar")</button>
    </div>
</form>