﻿@model List<QueroCafe.Models.Entity.Agenda>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Agenda";
    ViewBag.BackgroudImage = "/img/backgroud-agenda.png";
    ViewBag.ViewID = "AGENDA";
}

@if (ViewBag.Acao == "DELETE")
{
    <div class="alerta @(ViewBag.Sucesso ? "sucesso" : "error")">
        @(ViewBag.Sucesso ? "Agendamento removido com sucesso" : "Ocorreu um erro ao remover o agendamento")"
    </div>
}

<div class="painel" style="width: 55%">
    <h2 style="display: inline-block">Agendamentos</h2>
    <a href="@Url.Action("Criar", "Agenda")" class="btn btn-direita">Adicionar</a>

    @if (Model.Count > 0)
    {
        <table>
            <thead>
                <tr>
                    <th width="30%">Usuário</th>
                    <th width="20%" class="texto-central">Ação</th>
                    <th width="20%" class="texto-central">Data Agendamento</th>
                    <th width="15%"></th>
                    <th width="15%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var agenda in Model)
                {
                    var agendamentoVencido = agenda.DataAgendamento <= DateTime.Now;

                    <tr>
                        <td width="30%">
                            <div class="identidade">
                                <img src="~/img/usuario.png" />
                                <span>@agenda.Usuario.Nome</span>
                            </div>
                        </td>
                        <td width="20%" class="texto-central">
                            @agenda.Acao.ToString()
                        </td>
                        <td width="20%" class="texto-central">
                            @agenda.DataAgendamento.ToString("dd/MM/yyyy")
                        </td>
                        <td width="15%" title="@(agendamentoVencido ? "O agendamento está vencido e por isso nao pode ser mais editado" : string.Empty)">
                            <a class="btn btn-direita" href="@Url.Action("Editar", "Agenda", new { id = agenda.ID })" @(agendamentoVencido ? "disabled" : string.Empty)>
                                Alterar
                            </a>
                        </td>
                        <td width="15%" title="@(agendamentoVencido ? "O agendamento está vencido e por isso nao pode ser mais removido" : string.Empty)">
                            <a class="btn btn-direita" href="@Url.Action("Deletar", "Agenda", new { id = agenda.ID })" @(agendamentoVencido ? "disabled" : string.Empty)>
                                Remover
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="texto-central">Sem registros</h3>
    }
</div>