﻿.alerta {
    color: ghostwhite;
    padding: 20px;
    border-radius: 5px;
    font-weight: 500;
    width: 40%;
    margin: auto;
}

.alerta.sucesso {
    background: mediumseagreen;
}

.alerta.aviso {
    background: goldenrod;
}

.alerta.erro {
    background: indianred;
}