﻿div.cafe-icon {
    border: 3px solid #333;
    width: 118px;
    height: 75px;
    padding: 2px;
    border-radius: 4px;
    position: relative;
    margin: 15px 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: auto;
    margin-bottom: 15px;
}

div.cafe-icon-nivel {
    height: 48%;
    background: rgb(87, 36, 51);
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    transition: height 0.5s ease-in-out;
}


div.cafe-icon-asa {
    border: 3px solid #333;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    right: -26px;
}
