﻿.content {
    min-height: 50px;
    margin: 15px auto;
    position: relative;
}

.content * {
    display: block;
}

.content:last-child {
    margin: 0px auto;
}

.btn {
    border: 1px solid rgb(87, 36, 51);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(187, 135, 96);
    color: #fff;
    height: 40px;
    font-size: 13pt;
    padding: 0px 20px;
    line-height: 38px;
    text-decoration: none;
    text-align: center;
}

.btn.btn-full {
    width: -webkit-fill-available;
}

.btn.btn-direita {
    float: right;
}

.label {
    white-space: nowrap;
}

.painel {
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem 0 rgb(100 100 100 / 20%);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .15);
    padding: 30px;
    margin: auto;
    min-width: 400px;
    width: fit-content;
    margin-top: 50px;
    max-height: 75%
}

.painel *:not(input,select,option,strong) {
    color: ghostwhite;
}

ul.menu {
    list-style-type: none;
    padding-inline: 0;
    margin: 0;
    color: rgb(87, 36, 51);
    display: inline-block;
    margin-left: 10px;
}

ul.menu li {
    display: inline-block;
    padding-top: 19px;
}

ul.menu li.active a {
    border-bottom: 3px solid;
}

ul.menu li a {
    color: inherit;
    text-decoration: none;
    padding: 17px;
}

.logo {
    margin: 0px 10px;
    height: 60px
}

.logo img {
    height: 60px;
}

.contentBody {
    margin: 10px;
}

.usuario {
    position: relative;
    cursor: pointer;
}

.usuario div.usuario-foto {
    height: 45px;
    display: inline-block;
    width: 45px;
    border-radius: 45px;
    line-height: 44px;
    text-align: center;
    color: whitesmoke;
    font-size: 17pt;
    margin: 7px;
}

.usuario span {
    margin-right: 15px;
}

.usuario .usuario-info {
    cursor: initial;
    display: none;
    position: absolute;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem 0 rgb(100 100 100 / 20%);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .15);
    left: 0;
    right: 0;
    margin: 5px;
    color: dimgray;
    padding: 10px 0px;
    color: whitesmoke;
    outline: none;
}

.usuario h5,
.usuario h4 {
    margin: 0px 0px 10px 10px;
    font-weight: 500;
}

.usuario .usuario-info a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 3px 10px;
}

.usuario .usuario-info a:hover {
    backdrop-filter: blur(10px);
}

.texto-central {
    text-align: center;
}