﻿.identidade {
    display: inline-flex;
    background-color: rgba(255, 255, 255, .15);
    padding: 10px 15px;
    border-radius: 30px;
}

.identidade img {
    width: 30px;
    border-radius: 30px;
    display: inline-block;
}

.identidade span {
    display: inline-block;
    line-height: 30px;
    margin-left: 10px;
}
