﻿[disabled] {
    background-color: darkgray !important;
    opacity: 0.9 !important;
    pointer-events: none !important;
    border-color: gray !important;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header {
    height: 60px;
    background-color: rgb(239, 212, 182);
    position: sticky;
    display: grid;
    grid-template-columns: 90px auto max-content
}

input, select {
    font-size: 12pt;
    margin: 5px 0px;
    padding: 5px 5px;
    height: 35px;
    width: 100%
}

input {
    padding: 5px 10px;
}

h1, h2, h3 {
    font-weight: normal;
    margin-top: 0px;
}

table {
    width: 100%;
    border-spacing: 0px 5px;
    height: 83%;
}

table tbody {
    display: block;
    overflow: auto;
    height: inherit;
}

table tr {
    background-color: rgba(255, 255, 255, .15);
    margin-top: 5px;
    width: 100%;
    display: table;
}

table tbody tr td {
    padding: 10px;
}

table thead tr th:first-of-type {
    padding: 10px 15px;
    text-align: left;
}

strong {
    font-weight: 500;
}

form h2 {
    margin-bottom: 20px;
}