﻿@using QueroCafe.Models;
<html>
<head>
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/componentes.css" type="text/css" />
    <link rel="stylesheet" href="~/css/alerta.css" type="text/css" />
    <link rel="stylesheet" href="~/css/identidade.css" type="text/css" />

    <title>Quero Café - @ViewBag.Title</title>

    @RenderSection("head", false)

    <style>
        body {
            background-image: url('@ViewBag.BackgroudImage')
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="~/img/logo.png" />
            </a>
        </div>
        <ul class="menu">
            <li class="@(ViewBag.ViewID == "CAFE" ? "active" : "")">
                <a href="/Cafe">Café</a>
            </li>
            <li class="@(ViewBag.ViewID == "CHECKIN" ? "active" : "")">
                <a href="/Checkin">Check-In</a>
            </li>
            <li class="@(ViewBag.ViewID == "USUARIOS" ? "active" : "")">
                <a href="/Usuario">Usuários</a>
            </li>
            <li class="@(ViewBag.ViewID == "AGENDA" ? "active" : "")">
                <a href="/Agenda">Agenda</a>
            </li>
            <li class="@(ViewBag.ViewID == "HISTORICO" ? "active" : "")">
                <a href="/Historico">Histório</a>
            </li>
        </ul>
        <div class="usuario" onclick="document.getElementsByClassName('usuario-info').item(0).style.display = 'block'; document.getElementsByClassName('usuario-info').item(0).focus();">
            <div class="usuario-foto" style="background-color: @QueroCafe.Helpers.ColorHelper.GetCorPorLetra(Sessao.NomeUsuario[0])">
                @Sessao.NomeUsuario[0]
            </div>
            <span>@Sessao.NomeUsuario</span>
            <div class="usuario-info" onblur="handleBlur()" tabindex="0">
                <h4>@Sessao.NomeUsuario</h4>
                <h5>@Sessao.EmailUsuario</h5>
                <hr />
                <a href="@Url.Action("Sair", "Login")">Sair</a>
            </div>
        </div>
    </header>

    <div class="contentBody">
        @RenderBody()
    </div>

    <script>
        var usuarioInfo = document.getElementsByClassName('usuario-info').item(0);

        usuarioInfo.onblur = function (event) {
            // if the blur was because of outside focus
            // currentTarget is the parent element, relatedTarget is the clicked element
            if (!event.currentTarget.contains(event.relatedTarget)) {
                this.style.display = 'none';
            }
        }
    </script>

</body>
</html>